{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true,
	"plugins": [],
	"rules": {
		"prettier/prettier": "error",
		"imports/extensions": {
			"js": "never",
			"jsx": "never",
			"ts": "never",
			"tsx": "never"
		}
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"],
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}
